#home {
  padding-top: 8px;
  color: #ffff;
  padding-right: 10px;
}
#search-button {
  padding-top: 50px;
}
#dropdown-menu {
  padding-top: 50px;
}
#account {
  color: blue;
}
#header {
  padding-bottom: 100px;
}
